.centered {
  &-row {
    @include center(row);
  }
  &-col {
    @include center(column);
  }
}

// Heading
.heading {
  &-lg {
    font-size: 2em;
    padding: 10px 0 15px 0;
  }

  &-m {
    font-size: 1.2em;
    padding: 8px 0 10px 0;
  }

  &-sm {
    font-size: 0.9em;
  }
}

.btn {
  border: none;
  border-radius: 25px;
  background: linear-gradient(to right, #59c4d4, #44aad0);
  height: 50px;
  width: 50%;
  min-width: 160px;
  padding: 16px;
  color: $text-color;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.05);
  }
}
